{% extends 'restaurant/base.html' %}
{% load my_tags %}
<!--Подключаем файл my_tags, чтобы можно было выводить фото -->
{% block content%}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for booking in object_list %}
            <!-- Цикл, с помощью которого мы отображаем столько карточек с товарами, сколько имеем товаров в базе-->
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ booking.photo|media_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ booking.name }}</p>
                        <p class="card-text">Цена: {{ booking.time }}</p>
                        <p class="card-text">{{ booking.description|truncatechars:100 }}</p>
                        <!--Этой строкой для единообразия выводимых карточек отображаемое описание ограничивается 100 символами.-->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'restaurant:booking_update' booking.pk %}"
                                   role="button">Редактировать</a>
                                <a class="btn btn-primary" href="{% url 'restaurant:booking_detail' booking.pk %}"
                                   role="button">Посмотреть</a>
                                <a class="btn btn-primary" href="{% url 'restaurant:booking_delete' booking.pk %}"
                                   role="button">Удалить</a>
                            </div>
                            <small class="text-body-secondary">При бронировании даем скидку 15%</small>
                            <!--                            {% if user.is_authenticated %}-->
                            <!--                                {% if booking.is_published %}-->
                            <!--                                    <a class="btn btn-warning" href="{% url 'restaurant:toggle_activity' product.pk %}">Деактивировать</a>-->
                            <!--                                {% else %}-->
                            <!--                                    <a class="btn btn-success" href="{% url 'catalog:toggle_activity' product.pk %}">Активировать</a>-->
                            <!--                                {% endif %}-->
                            <!--                            {% endif %}-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}