{% extends 'restaurant/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 text-center container">
    <img src="{% static 'images/smokedcoder4.jpg' %}" class="d-block w-100" alt="Photo">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h2> Упал код? Принесли холодный суп? Напишите нам </h2>
            <form method="post">
                {% csrf_token %}
                Твой айпи и ФИО
                <input class="form-control mt-2" name="name"/>
                Мэйл, сэр!
                <input class="form-control m-2" name="email"/>
                Жалуемся тут :)
                <textarea class="form-control m-2" name="message"></textarea>
                <button type="submit" class="m-2 btn btn-primary form-control">Нажаловаться на нас</button>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'restaurant:index' %}"
                       role="button">Настучал? Жми сюда, выход тут</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}