{% extends 'restaurant/base.html' %}
{% block content %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                ПЕРВЫЙ КОД-РЕСТОРАН В ОБЕИХ СТОЛИЦАХ.
                Наши ценности: качественный прод, хорошая прожарка.
                Ценовая политика:
                Студент/ джун? Пей без закуски.
                Сеньор? Пей.
                Команда: умеешь держать поднос и думаешь записаться на курсы в Скайпро? Ты - наш.
            </p>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'restaurant:index' %}"
               role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}